.FAQ {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  overflow: hidden;

  &__block-left {
    width: 50%;
    padding-top: 250px;
    padding-bottom: 90px;
  }

  &__block-right {
    position: relative;
    width: 50%;
  }

  &__title {
    font-family: "PT Serif", serif;
    font-size: var(--text-size-xxl);
    font-weight: 400;
    line-height: 140%;
    color: var(--brown);
  }

  &__img {
    position: absolute;
    right: 0;
    top: -410px;
    width: 531px;
    height: 730px;
    z-index: -1;
  }

  &__decor {
    position: absolute;
    top: -397px;
    right: -230px;
    width: 930px;
    height: 930px;
    border-radius: 930px;
    background: rgba(245, 245, 255, 0.80);
    z-index: -2;
  }

  &__accordion {
    margin-left: 35px;
  }

  &__button {
    width: 550px;
    margin-top: 100px;
    border-radius: 10px;
  }

  //accordion first reset border-radius
  .accordion-item:first-of-type, .accordion-item:first-of-type .accordion-button.collapsed, .accordion-item:first-of-type .accordion-button {
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
  }

  //accordion last reset border-radius
  .accordion-item:last-of-type, .accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:last-of-type .accordion-button {
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
  }

  //accordion active background
  .accordion-button:not(.collapsed) {
    background: var(--text-secondary);
    box-shadow: 0 5px 10px 0 #E0E0E0;
  }

  //accordion focused border and box-shadow
  .accordion-button:focus {
    border-color: var(--text-secondary);
    box-shadow: 0 5px 10px 0 #E0E0E0;
  }

  //accordion active and focused box-shadow default
  .accordion-button.collapsed:focus {
    box-shadow: 0 20px 40px 0 #F5F5FF;
  }

}

.accordion-button::after {
  background-image: url("../img/icon.png");
  transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/icon.png");
  transform: rotate(360deg);
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 100px;

  &-item {
    border: 1px solid var(--text-secondary);
    box-shadow: 0 20px 40px 0 #F5F5FF;
    border-radius: 23px;
  }

  &-button {
    font-family: "Poppins", sans-serif;
    font-size: var(--text-size-sm);
    font-weight: 400;
    line-height: 30px;
    color: var(--brown);
    padding: 25px 35px;
    border-radius: 23px;
    box-shadow: 0 20px 40px 0 #F5F5FF;
  }

  &-body {
    padding: 40px 35px 60px 35px;
    color: var(--brown);
    font-family: "Poppins", sans-serif;
    font-size: var(--text-size-sm);
    font-weight: 300;
    line-height: 30px;
    background: rgba(245, 245, 255, 1);
    box-shadow: 0 25px 59px 0 rgba(191, 191, 236, 0.72);;
  }
}

@media (max-width: 1199px) {
  .container__FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .FAQ {

    margin-bottom: 500px;

    &__block-left {
      width: 100%;
      padding-bottom: 10px;
    }

    &__block-right {
      position: unset;
      width: 100%;
      margin-top:-96px;
    }

    &__block-decor {
      position: relative;
    }

    &__accordion {
      margin-left: 0;
    }

    &__img {
      top: auto;
      right: 20%;
    }

    &__decor {
      position: absolute;
      top: auto;
      right: auto;
    }

    &__button {
      margin-top: 500px;
    }
  }
}

@media (max-width: 991px) {
  .FAQ {

    &__img{
      right:10%;
    }

    &__decor {
      right: -18%;
    }
  }
}

@media (max-width: 767px) {
  .FAQ {

    &__img{
      right:-7%;
    }

    &__decor {
      right: -44%;
    }
  }
}

@media (max-width: 575px) {
  .FAQ {

    &__button {
      width:310px;
    }

    &__img{
      right:-46%;
    }

    &__decor {
      right: -111%;
    }
  }
}