.FAQ {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  overflow: hidden;
}
.FAQ__block-left {
  width: 50%;
  padding-top: 250px;
  padding-bottom: 90px;
}
.FAQ__block-right {
  position: relative;
  width: 50%;
}
.FAQ__title {
  font-family: "PT Serif", serif;
  font-size: var(--text-size-xxl);
  font-weight: 400;
  line-height: 140%;
  color: var(--brown);
}
.FAQ__img {
  position: absolute;
  right: 0;
  top: -410px;
  width: 531px;
  height: 730px;
  z-index: -1;
}
.FAQ__decor {
  position: absolute;
  top: -397px;
  right: -230px;
  width: 930px;
  height: 930px;
  border-radius: 930px;
  background: rgba(245, 245, 255, 0.8);
  z-index: -2;
}
.FAQ__accordion {
  margin-left: 35px;
}
.FAQ__button {
  width: 550px;
  margin-top: 100px;
  border-radius: 10px;
}
.FAQ .accordion-item:first-of-type, .FAQ .accordion-item:first-of-type .accordion-button.collapsed, .FAQ .accordion-item:first-of-type .accordion-button {
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
}
.FAQ .accordion-item:last-of-type, .FAQ .accordion-item:last-of-type .accordion-button.collapsed, .FAQ .accordion-item:last-of-type .accordion-button {
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}
.FAQ .accordion-button:not(.collapsed) {
  background: var(--text-secondary);
  box-shadow: 0 5px 10px 0 #E0E0E0;
}
.FAQ .accordion-button:focus {
  border-color: var(--text-secondary);
  box-shadow: 0 5px 10px 0 #E0E0E0;
}
.FAQ .accordion-button.collapsed:focus {
  box-shadow: 0 20px 40px 0 #F5F5FF;
}

.accordion-button::after {
  background-image: url("../img/icon.png");
  transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/icon.png");
  transform: rotate(360deg);
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 100px;
}
.accordion-item {
  border: 1px solid var(--text-secondary);
  box-shadow: 0 20px 40px 0 #F5F5FF;
  border-radius: 23px;
}
.accordion-button {
  font-family: "Poppins", sans-serif;
  font-size: var(--text-size-sm);
  font-weight: 400;
  line-height: 30px;
  color: var(--brown);
  padding: 25px 35px;
  border-radius: 23px;
  box-shadow: 0 20px 40px 0 #F5F5FF;
}
.accordion-body {
  padding: 40px 35px 60px 35px;
  color: var(--brown);
  font-family: "Poppins", sans-serif;
  font-size: var(--text-size-sm);
  font-weight: 300;
  line-height: 30px;
  background: rgb(245, 245, 255);
  box-shadow: 0 25px 59px 0 rgba(191, 191, 236, 0.72);
}

@media (max-width: 1199px) {
  .container__FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .FAQ {
    margin-bottom: 500px;
  }
  .FAQ__block-left {
    width: 100%;
    padding-bottom: 10px;
  }
  .FAQ__block-right {
    position: unset;
    width: 100%;
    margin-top: -96px;
  }
  .FAQ__block-decor {
    position: relative;
  }
  .FAQ__accordion {
    margin-left: 0;
  }
  .FAQ__img {
    top: auto;
    right: 20%;
  }
  .FAQ__decor {
    position: absolute;
    top: auto;
    right: auto;
  }
  .FAQ__button {
    margin-top: 500px;
  }
}
@media (max-width: 991px) {
  .FAQ__img {
    right: 10%;
  }
  .FAQ__decor {
    right: -18%;
  }
}
@media (max-width: 767px) {
  .FAQ__img {
    right: -7%;
  }
  .FAQ__decor {
    right: -44%;
  }
}
@media (max-width: 575px) {
  .FAQ__button {
    width: 310px;
  }
  .FAQ__img {
    right: -46%;
  }
  .FAQ__decor {
    right: -111%;
  }
}

/*# sourceMappingURL=FAQ.css.map */
