.reviews {
  height: 100%;
  margin-top: 167px;
  position: relative;


  &__block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  &__block {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    margin-top: 162px;
    gap: 100px;
  }

  &__icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 442px;
    height: 545px;
    background: var(--text-secondary);
    border-radius: 10px;
    border: 1px solid #D2D2D2;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);

  }

  &__icon-img {
    margin: 50px 61px 53px 52px;
  }

  &__icon-title {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
  }

  &__icon-subtitle {
    color: var(--green);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 22px 48px 60px 48px;
  }

  &__icon-button {
    color: var(--text-secondary);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background: #9595C9;
  }

  &__decor-img{
    position:absolute;
    top: 95%;
    left: 0;
  }
  
  &__decor {
    position: absolute;
    top: 33%;
    left: -33%;
    width: 1030px;
    height: 1030px;
    border-radius: 1030px;
    background: #FFEDEF;
    z-index: -1;
  }
}

.button__red {
  background: rgba(240, 31, 53, 1);
}

.feature {

  &__block {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-top: 212px;
    width: 50%;
  }

  &__comment{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 33px 37px;
    margin-top: 103px;
    margin-left: auto;
    box-shadow: 0 20px 40px 0 rgba(238, 77, 71, 0.10);;
  }
}

.comment{
  &__subtitle{
    display: flex;
    justify-content: center;
    text-align: left;
    color: var(--black-green);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  &__simon-block{
    display: flex;
    margin-top: 10px;
  }

  &__button{
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin-left: 22px;
  }
}

.simon__text{
  display:flex;
  flex-direction: column;
}


@media (max-width: 1200px) {
  .reviews{
    &__block{
        flex-direction: column;
        align-items: center;
    }
  }
}
