.reviews {
  height: 100%;
  margin-top: 167px;
  position: relative;
}
.reviews__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}
.reviews__block {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  margin-top: 162px;
  gap: 100px;
}
.reviews__icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  height: 545px;
  background: var(--text-secondary);
  border-radius: 10px;
  border: 1px solid #D2D2D2;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}
.reviews__icon-img {
  margin: 50px 61px 53px 52px;
}
.reviews__icon-title {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
}
.reviews__icon-subtitle {
  color: var(--green);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 22px 48px 60px 48px;
}
.reviews__icon-button {
  color: var(--text-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background: #9595C9;
}
.reviews__decor-img {
  position: absolute;
  top: 95%;
  left: 0;
}
.reviews__decor {
  position: absolute;
  top: 33%;
  left: -33%;
  width: 1030px;
  height: 1030px;
  border-radius: 1030px;
  background: #FFEDEF;
  z-index: -1;
}

.button__red {
  background: rgb(240, 31, 53);
}

.feature__block {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-top: 212px;
  width: 50%;
}
.feature__comment {
  display: flex;
  flex-direction: column;
  width: 488px;
  height: 375px;
  padding: 60px 20px 33px 37px;
  margin-top: 103px;
  margin-left: auto;
  box-shadow: 0 20px 40px 0 rgba(238, 77, 71, 0.1);
}

.comment__subtitle {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--black-green);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.comment__simon-block {
  display: flex;
  margin-top: 10px;
}
.comment__button {
  padding: 14px;
  border-radius: 50%;
  border: 0;
  margin-left: 22px;
}

.simon__text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 28px;
  align-items: flex-start;
}
.simon__title {
  color: var(--black-green);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
}
.simon__subtitle {
  color: #9D9D9D;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.simon__img {
  height: 98px;
  width: 98px;
}
.simon__star {
  display: flex;
  align-items: center;
}
.simon__star-img {
  width: 84px;
  height: 12px;
}

.star__text {
  margin-bottom: 0;
  margin-left: 8px;
  color: var(--gray, #9D9D9D);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .reviews__block {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=reviews.css.map */
