.support{
    padding-top: 190px;
}

.support__text-block{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.support__subtitle{
    padding-top: 16px;
}

@media (max-width: 992px){
    .support__container{
        display: flex;
        flex-direction: column;
    }

    .support__img{
        margin-top: 40px;
    }
}

@media (max-width: 768px){
    .support__text-block{
        text-align: center;
    }
}